@font-face {
  font-family: 'SequentialistBB';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_1_0.woff2') format('woff2'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'SequentialistBB';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff2') format('woff2'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff') format('woff');
  font-style: italic;
  font-weight: 400;
}

blockquote.bubble { 
  width: 400px;
  max-width: 800px;
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 100% 100%;
  box-sizing: content-box;
  line-height: 1;
  position: absolute;
  left: -300px;
  top: -100px;
}

blockquote.electric {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/electric.svg); 
  font-size: 2.4vw;
  font-style: italic;
  padding: 2em 3em;
}
blockquote.electric span {
  display: block;
  font-size: 3vw;
  font-weight: bold;
}
